.about-me-sect-container {
    background-color: #fef9f8;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    object-fit: contain;
    position: relative;
    padding-bottom: 2.5rem;
}

.about-me-sect-container > h1 {
    color: #0d0d0d;
    font-size: 64px;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-me-sect-container > p {
    color: #0d0d0d;
    font-size: 32px;
    text-align: left; 
    margin-left: 100px;
    margin-right: 120px;
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-me-sect-container > p2 {
    color: #0d0d0d;
    font-size: 32px;
    text-align: left; 
    margin-left: 100px;
    margin-right: 120px;
    margin-top: 32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}